.page-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #8db493;
  min-height: 100vh;
  color: #111827;
  border-radius: 3px;
}

.page-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.page-header h1 {
  display: flex ;
  font-style: oblique;
  font-weight: bold;
  margin: 0;
  font-size: 2.1em;
  
}   

.btn-primary {
  background: #e76717;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #c66d15;
}
